#Ignore java class files, auto-saves, and test scripts
*.class
*~
MainClass.*
My*.java
AyannaImages.*
JohnPaulImages.*
ClaireImages.*
cppbuild/obj/*
cppbuild/launcher*
cppbuild/scanner*
cppbuild/roc*
cppbuild/src/my.rc
cppbuild/Nia.app/*
cppbuild/src/vidwriter.*
cppbuild/vidwriter.*
cppbuild/make_vid.sh
cppbuild/Makefile